.cart-main-outer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .cart-header {
    width: 1210px;
    margin: 1rem 0;
    font-family: GuardianEgypLight, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
  }

  .cart-header-empty {
    margin: 2rem 0;
    font-family: GuardianEgypLight, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
  }

  .cart-main {
    display: grid;
    grid-template-columns: 900px 300px;
    box-sizing: border-box;
  }

  .cart-outer {
    display: flex;
    flex-direction: row;
    font-family: GraphikRegular, Arial, Helvetica, sans-serif;
    margin: 0 0 1rem 0;
  }

  .cart-product-img-outer {
    width: 160px;
    height: 160px;
  }

  .cart-product-img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
  }

  .cart-product-shop {
    color: rgba(45, 45, 45, 0.854);
    margin-bottom: 0.5rem;
  }

  .cart-product-name {
    font-size: 0.85rem;
    padding: 0 1rem;
    width: 500px;
    word-wrap: break-word;
  }

  .cart-product-quantity-outer {
    display: flex;
    align-items: center;
    height: 20px;
    width: 100px;
  }
