.edit-main {
    padding: 1.5rem;
  }

  .edit-form-upper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .edit-return-button {
    width: 134px;
    padding: 5px 0;
    border: none;
    background-color: #d4e9d77c;
    color: #050404a6;
    border-radius: 10px;
    font-size: 11px;
    font-family: GraphikThin, Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
    cursor: pointer;
  }

  .edit-header {
    font-family: GuardianEgypLight, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .edit-field-inner {
    margin-bottom: 0.2rem;
  }

  .edit-label {
    font-family: GraphikRegular, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin-right: 10px;
  }

  .edit-instructions {
    font-family: GraphikRegular, Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    color: #050404c8;
  }

  .edit-input,
.edit-text-area,
.edit-text-area-name {
  font-family: GraphikRegular, Arial, Helvetica, sans-serif;
  width: 100%;
  max-width: 100%;
  height: 40px;
  border-radius: 10px;
  padding: 12px;
  box-sizing: border-box;
  margin-bottom: 1rem;
  border: 0.5px solid grey;
  color: #050404a6;
  cursor: default;
  outline: none;
  resize: none;
}
.edit-text-area {
    height: 120px;
    max-height: 120px;
  }

  .edit-text-area-name {
    height: 76px;
    max-height: 76px;
  }

  .edit-save-button-outer {
    display: flex;
    justify-content: flex-end;
  }

  .edit-save-button {
    border: none;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px;
    font-family: GraphikRegular, Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 36px;
    cursor: pointer;
  }

  .edit-product-errors {
    font-family: GraphikMedium, Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    color: red;
    margin: 0.3rem 0 0.5rem;
  }
