.edit-main {
    padding: 1.5rem;
  }

  .edit-form-upper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .edit-return-button {
    width: 134px;
    padding: 5px 0;
    border: none;
    background-color: #d4e9d77c;
    color: #050404a6;
    border-radius: 10px;
    font-size: 11px;
    font-family: GraphikThin, Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
    cursor: pointer;
  }

  .edit-header {
    font-family: GuardianEgypLight, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .edit-field-inner {
    margin-bottom: 0.2rem;
  }

  .edit-label {
    font-family: GraphikRegular, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin-right: 10px;
  }

  .edit-instructions {
    font-family: GraphikRegular, Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    color: #050404c8;
  }
