font-face {
    font-family: GraphikRegular;
    src: url('./fonts/Graphik/Graphik-Regular-Trial.otf');
  }

  @font-face {
    font-family: GraphikMedium;
    src: url('./fonts/Graphik/Graphik-Medium-Trial.otf');
  }

  @font-face {
    font-family: GraphikProduktRegular;
    src: url('./fonts/Graphik/Produkt-Regular-Trial.otf');
  }

  @font-face {
    font-family: GraphikLight;
    src: url('./fonts/Graphik/Graphik-Light-Trial.otf');
  }

  @font-face {
    font-family: GuardianEgypRegular;
    src: url('./fonts/Guardian/GuardianEgyp-Regular-Trial.otf');
  }

  @font-face {
    font-family: GuardianEgypLight;
    src: url('./fonts/Guardian/GuardianEgyp-Light-Trial.otf');
  }

  @font-face {
    font-family: GuardianEgypThin;
    src: url('./fonts/Guardian/GuardianEgyp-Thin-Trial.otf');
  }

  @font-face {
    font-family: GuardianEgypMedium;
    src: url('./fonts/Guardian/GuardianEgyp-Medium-Trial.otf');
  }
