.home-header {
    display: flex;
    justify-content: center;
    font-family: GuardianEgypThin, Arial, Helvetica, sans-serif;
    font-size: 28px;
    padding: 20px 0 15px;
  }

  .home-featured-circles-outer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .homepage-back-drop {
    border-top: 1px solid #e7dbcbb0;
    height: 180px;
    position: absolute;
    width: 100%;
    z-index: -3;
    background-color: #FDEBD2;
    top: 120px;
  }

  .feature-circle-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
  }

  .featured-img-outer {
    height: 130px;
    width: 130px;
    border-radius: 50%;
  }

  .featured-img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  .featured-name {
    font-family: GraphikRegular, Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 0.85rem;
    margin: 10px;
  }

  .display-product-main,
  .sponsored-products-main,
  .unique-products-main,
  .shop-products-outer {
    padding: 1rem 1.5rem 1.5rem;
    box-sizing: border-box;
    justify-content: center;
  }

  .display-product-main {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(5, 100px);
  }

  .display-product-outer,
  .sponsored-product-outer,
  .unique-product-outer {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
  }

  .display-product-price {
    position: absolute;
    bottom: 10px;
    left: 14px;
  }

  .display-product-price,
  .sponsored-product-price,
  .unique-product-price {
    background-color: white;
    padding: 4px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.116);
    font-family: GraphikMedium, Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
  }
  .display-img-outer {
    box-sizing: border-box;
    width: 288px;
    position: relative;
  }

  .display-product-img,
  .sponsored-product-img,
  .unique-product-img {
    border-radius: 10px;
  }

  .display-product-img,
  .sponsored-product-img,
  .unique-product-img,
  .shop-product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: fit-content;
  }

  .img0,
  .img2,
  .img5,
  .img7 {
    height: 186px;
  }

  .img1,
  .img3,
  .img4,
  .img6 {
    height: 286px;
  }

  .img0 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .img1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;

  }

  .img2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .img3 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .img4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 6;
  }

  .img5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;
  }

  .img6 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 6;
  }

  .img7 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
  }

  .sponsored-products-main {
    display: grid;
    grid-template-columns: repeat(5, 240px);
    grid-template-rows: 140px 100px 100px;
  }

  .sponsored-img-outer {
    box-sizing: border-box;
    width: 228px;
    height: 200px;
    position: relative;
    display: flex;
    align-items: center;
  }

  .sponsored-product-header {
    grid-column-start: 1;
    grid-column-end: 6;
    padding: 50px 5px;
  }

  .sponsored-product-top-outer {
    color: #595959;
  }

  .sponsored-product-top-outer,
  .unique-products-header,
  .shop-product-top {
    font-size: 1.8rem;
    font-family: GraphikMedium, Arial, Helvetica, sans-serif;
    line-height: 36px;
  }

  .sponsored-product-top {
    color: #222222;
  }

  .sponsored-product-caption,
  .shop-product-caption {
    font-family: GraphikLight, Arial, Helvetica, sans-serif;
    color: #595959;
    padding-top: 10px;
    font-size: 1.1rem;
  }

  .s-img0,
  .s-img1,
  .s-img2,
  .s-img3,
  .s-img4 {
    grid-row: 2 / 3
  }

  .s-img0 {
    grid-column: 1 / 2;
  }

  .s-img1 {
    grid-column: 2 / 3;
  }

  .s-img2 {
    grid-column: 3 / 4;
  }

  .s-img3 {
    grid-column: 4 / 5;
  }

  .s-img4 {
    grid-column: 5 / 6;
  }

  .sponsored-product-price {
    position: absolute;
    bottom: -92px;
    left: 14px;
  }
