.login-form-main {
    padding: 24px 24px 12px;
    width: 300px;
  }

  .login-upper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .login-header {
    font-family: GraphikMedium, Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

  .login-register-button {
    font-family: GraphikMedium, Arial, Helvetica, sans-serif;
    border: 2.5px solid black;
    background: none;
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.822);
    cursor: pointer;
  }

  .login-field-outer {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 0.5rem;
  }

  .login-label {
    font-family: GraphikMedium, Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-bottom: 0.3rem;
  }

  .login-input {
    font-family: GraphikRegular, Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: 1px solid rgba(128, 128, 128, 0.336);
    height: 36px;
    border-radius: 10px;
    padding-left: 14px;
    outline: none;
  }

  .login-form-button,
  .login-form-demo-button {
    border: none;
    background-color: rgba(0, 0, 0, 0.925);
    color: white;
    font-family: GraphikMedium, Arial, Helvetica, sans-serif;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
  }

  .login-form-button {
    margin-top: 1rem;
  }

  .login-form-demo-button {
    margin: 1rem 0;
  }

  .login-error-outer {
    margin-bottom: 0.5rem;
  }

  .login-errors {
    font-family: GraphikRegular, Arial, Helvetica, sans-serif;
    color: rgb(255, 0, 0);
    font-size: 12px;
  }

  .login-buttons-outer {
    display: flex;
    flex-direction: column;
  }
