.login-form-main {
    padding: 24px 24px 12px;
    width: 300px;
  }

  .login-upper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .login-header {
    font-family: GraphikMedium, Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

  .login-register-button {
    font-family: GraphikMedium, Arial, Helvetica, sans-serif;
    border: 2.5px solid black;
    background: none;
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.822);
    cursor: pointer;
  }
