.category-upper {
    background-color: #F8EBE5;
    border-top: 1px solid rgb(243, 220, 211);
    position: absolute;
    left: 0;
    top: 120px;
    width: 100%;
    min-height: 100px;
    min-width: 100%;
    z-index: -3;
  }

  .category-header {
    margin: 2rem auto;
    font-family: GuardianEgypLight, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    width: 1220px;
  }

  .category-main {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 1.5rem;
    width: 1220px;
  }
