.sell-product-main {
    display: flex;
    justify-content: center;
  }

  .main-shop-outer {
    overflow-y: hidden;
    background-image: url('../CSS/Images/new_shop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 65%;
    min-width: 100%;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    z-index: -4;
    flex-direction: column;
  }
